* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.mainConatiner {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 150px auto 150px;
  grid-template-columns: 384px;
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "footer footer footer footer";
  padding: 20px;
}
header {
  grid-area: header;
}
.headerContainer > .part1 > img {
  height: 100px;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.headerContainer .part2 select {
  font-weight: 900;
  border: none;
}
.headerContainer .part2 {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.headerContainer .part2 input {
  border: none;
  background-color: white;
  font-weight: 900;
}
.headerContainer .part3 input {
  text-transform: uppercase;
  padding: 5px 30px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
}
.headerContainer .part3 input:active {
  background-color: brown;
}
/* sidebar */
aside {
  grid-area: aside;
}
.asideContainer .part1 ul li {
  height: 100%;
  list-style-type: none;
  padding: 10px;
}
.asideContainer .part1 {
  height: 350px;
  filter: drop-shadow(0px 0px 15px lightblue);
  background-color: white;
}
.asideContainer .firstChild {
  background-color: red;
  color: white;
  font-weight: 700;
}
.asideContainer li:not(.firstChild):hover {
  background-color: #d3d3d3;
  border-left: 3px solid red;
}
.asideContainer .part2 img {
  height: 153px;
  border-radius: 10px;
}
.asideContainer .part2 {
  height: 450px;
  background-color: white;
  margin-top: 20px;
  filter: drop-shadow(0px 0px 15px lightblue);
}
.asideContainer .heading {
  padding: 10px;
  font-weight: 700;
}
.asideContainer .part2Con {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.asideContainer .part2 .sizes {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.asideContainer .part2 .sizes .small,
.large,
.medium {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.asideContainer .part2 .sizes .small {
  background-color: orangered;
  font-weight: 600;
  color: white;
}
.asideContainer .part2 .rs {
  font-weight: 600;
  font-size: 50px;
}
.asideContainer .part2 p {
  text-align: center;
}
.asideContainer .part3 {
  background-color: yellow;
  height: 600px;
  width: 100%;
  margin-top: 20px;
  background-size: contain;
  background-position: center center;
  background-image: url(https://i.pinimg.com/564x/12/ac/60/12ac606896dfc98f4806b7acababed67.jpg);
}
footer {
  background-color: orange;
  grid-area: footer;
  margin-top: 20px;
}
main {
  grid-area: main;
  margin-left: 40px;
}
main .mainCon1 {
  display: flex;
  background-color: black;
}

main .part1 {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
}
main .part1Heading {
  text-transform: uppercase;
  background-color: orange;
  padding: 8px 10px;
}
main .special {
  font-size: 80px;
  font-weight: 700;
}
main .mainCon1 input {
  font-size: 20px;
  background-color: orangered;
  color: white;
  padding: 10px 30px;
}

main .mainCon2 {
  height: 300px;
  margin-top: 20px;
  display: grid;
  grid-template-areas:
    "img1 img2"
    "img1 img3";
  gap: 10px;
  color: white;
}
main .img1 {
  grid-area: img1;
  background-image: url(../Images/biriyani.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
main .img2 {
  grid-area: img2;
  background-size: cover;
  background-position: center;
  background-image: url(https://i.pinimg.com/564x/a6/08/dc/a608dca35982e969d82c9fbde3ec52a7.jpg);
}
main .img3 {
  grid-area: img3;
  background-image: url(../Images/leg-piece.jpg);
}
main .mainCon2 strong,
p {
  position: relative;
  top: 10px;
  left: 10px;
}

main .mainCon3 {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.mainCon3 .heading {
  background-color: orange;
  width: 133px;
  text-align: center;
  padding: 5px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
main .mainCon3 .para {
  font-size: 32px;
  font-weight: 600;
}
main .mainCon3 .blankbox {
  height: 10px;
  background-color: black;
  width: 100px;
  border-radius: 10px;
}
main .mainCon3 .Content {
  text-align: center;
}
main .iconCon {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}
main .iconCon img {
  height: 40px;
}

main .firstimg {
  border-bottom: 5px solid red;
  padding-bottom: 10px;
}
main #firstimg {
  height: 50px;
}




main .mainCon4 {
  display: flex;
  width: 100%;
}
main .mainCon4 img {
  height: 250px;
}
main .mainCon4 .imgCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
main .mainCon4 .displayInfo1 {
  text-align: center;
}
main .mainCon4 input {
  height: 36px;
  background-color: orange;
  color: white;
  padding: 10px 50px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
}
main .mainCon4 input:active {
  background-color: orangered;
}
main .mainCon4 img {
  filter: drop-shadow(0px 0px 15px black);
}